/* código omitido */

body {
    background-color: #5c0202;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #1a1812;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}